<div class="container">
    <hr>
    <h1>TaskList</h1>
    <hr>
    
    <div class="row">
        <div class="col-md-8">

            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Description</th>
                        <th>TargetDate</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody *ngIf="tasks">
                    <tr *ngFor="let task of tasks ; index as idx">
                        <td>{{task.desc}}</td>
                        <td>{{task.targetDate}}</td>
                        <td><button class="btn btn-success" (click)="updateItem(idx)">Update</button></td>
                        <td><button class="btn btn-success" (click)="deleteItem(idx)">Delete</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="container">
                <button class="btn btn-success" (click)="addItem()">Click here to add a new task</button>
            </div>
            <br>
            <div class="container">
                <button class="btn btn-success" (click)="clearAll()">Clear All Tasks</button>
            </div>
            <br>
        </div>


        <div class="col-md-4">
            <app-sidebar></app-sidebar>
        </div>
    </div>



</div>